<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form th:action="@{/users/add}" th:object="${user}" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" /><br/>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" /><br/>
    <button type="submit">Add User</button>
</form>
</body>
</html>